body {
  background: linear-gradient(to bottom, lightblue, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
.tools{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 40px;
  max-width: 55vw;
 
}

.intro p{
  font-size: 1.2em;
  color: rgb(13, 75, 119);
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(20, 33, 138, 0.5);
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  padding: 2em;
  min-height: 70vh;
  width: 40vw;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  color: rgb(13, 75, 119);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

input[type="time"] {
  padding: 0.5em;
  font-size: 1em;
  margin: 10px;
}

#calculateBtn {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: #237492;
  cursor: pointer;
  margin-top: 1em;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#calculateBtn:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}

p {
  margin: 1em 0;
  font-size: 1.2em;
  color: rgb(13, 75, 119);
}

label {
  color: rgb(13, 75, 119);
}

.pace input {
  width: 30px;
}

.pace {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

progress {
  width: 200px;
  height: 20px;
  margin-top: 10px;
}
